.mainContent {
    display: block;
    position: absolute;
    top: 50px; 
    left: 250px; 
    width: calc(100% - 250px); 
    height: calc(100vh - 50px);
    padding: 20px; 
    background-color: #1e1e1e; 
    overflow-y: auto; 
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
}