.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 50px;
    justify-content: flex-start;
    background-color: #158cba;

    border-style: solid;
    border-width: 0 1px 4px 1px;
    border-color: #137ea7;
}


.logo_ {

    border-style: solid;
    border-width: 0 0px 4px 0px;
    border-color: #137ea7;
    object-fit: contain;
    z-index: 2;

}

.options {
    display: flex;
    overflow: hidden;
    justify-content: left;

}

.options a {
    display: inline-flex;
    color: #ced4da;
    text-align: center;
    padding: 15px 18px;
    font-size: small;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.options a:hover {
    color: #f0f0f0;
}