.navbar {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 50px;
    align-items: center;
    background-color: #92a6c6;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 50% 25% ;

    border-color: red;
    
}


button {

    width: auto;
    height: auto;
    font-size: small;
    text-align: center;
    white-space: nowrap;
}

button:hover {
    border-color: red;
    background-color: #6a6a75;
}
.logo {
    width: 30px;
    height: 30px;
    padding: 0px;
    object-fit: contain;
}